<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
        <intent>
            <component android:name="com.miui.securitycenter/com.miui.permcenter.autostart.AutoStartManagementActivity" />
        </intent>
        <intent>
            <component android:name="com.letv.android.letvsafe/com.letv.android.letvsafe.AutobootManageActivity" />
        </intent>
        <intent>
            <component android:name="com.huawei.systemmanager/com.huawei.systemmanager.optimize.process.ProtectActivity" />
        </intent>
        <intent>
            <component android:name="com.huawei.systemmanager/com.huawei.systemmanager.appcontrol.activity.StartupAppControlActivity" />
        </intent>
        <intent>
            <component android:name="com.coloros.safecenter/com.coloros.safecenter.permission.startup.StartupAppListActivity" />
        </intent>
        <intent>
            <component android:name="com.coloros.safecenter/com.coloros.safecenter.startupapp.StartupAppListActivity" />
        </intent>
        <intent>
            <component android:name="com.oppo.safe/com.oppo.safe.permission.startup.StartupAppListActivity" />
        </intent>
        <intent>
            <component android:name="com.iqoo.secure/com.iqoo.secure.ui.phoneoptimize.AddWhiteListActivity" />
        </intent>
        <intent>
            <component android:name="com.iqoo.secure/com.iqoo.secure.ui.phoneoptimize.BgStartUpManager" />
        </intent>
        <intent>
            <component android:name="com.vivo.permissionmanager/com.vivo.permissionmanager.activity.BgStartUpManagerActivity" />
        </intent>
        <intent>
            <component android:name="com.samsung.android.lool/com.samsung.android.sm.ui.battery.BatteryActivity" />
        </intent>
        <intent>
            <component android:name="com.htc.pitroad/com.htc.pitroad.landingpage.activity.LandingPageActivity" />
        </intent>
        <intent>
            <component android:name="com.asus.mobilemanager/com.asus.mobilemanager.autostart.AutoStartActivity" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <service
            android:name=".ProxyForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Ensures stable Telegram connection via WebSocket tunnel."/>
        </service>

        <service
            android:name=".ProxyTileService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".NetworkChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>
</manifest>
